{% extends "base.html.twig" %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block main %}
    <h1> {{ product.name }} </h1>
{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}
